In [1]:
import pandas,numpy

import scipy,scipy.stats

import matplotlib,matplotlib.pyplot
matplotlib.rcParams.update({'font.size':40,'font.family':'Arial','xtick.labelsize':20,'ytick.labelsize':20,'axes.labelsize':33})
matplotlib.rcParams['pdf.fonttype']=42

# 0. user defined variables

In [2]:
transcripts_data_file='/Volumes/omics4tb/alomana/projects/TLR/data/DESeq2/normalizedCounts.trna.csv'
footprints_data_file='/Volumes/omics4tb/alomana/projects/TLR/data/DESeq2/normalizedCounts.rbf.csv'

# 1. read data

In [3]:
dfa=pandas.read_csv(transcripts_data_file)
print(dfa.shape)
dfa.head()

(2371, 13)

,Unnamed: 0,trna.rep.1.tp.1,trna.rep.1.tp.2,trna.rep.1.tp.3,trna.rep.1.tp.4,trna.rep.2.tp.1,trna.rep.2.tp.2,trna.rep.2.tp.3,trna.rep.2.tp.4,trna.rep.3.tp.1,trna.rep.3.tp.2,trna.rep.3.tp.3,trna.rep.3.tp.4
0,gene-VNG_RS00005,18.908091,19.348712,19.232525,20.380208,18.938371,19.091152,19.876300,20.364131,19.156748,19.270215,20.030011,20.074433
1,gene-VNG_RS00010,12.577726,13.632958,14.231019,13.946876,12.721514,13.538917,14.289469,13.752900,12.469030,13.376768,14.419380,13.430681
2,gene-VNG_RS00015,11.125430,12.431311,12.426860,12.711125,11.151036,12.021155,13.359287,12.573962,11.085732,12.089033,13.079664,12.151285
3,gene-VNG_RS00020,11.503600,13.007351,13.206630,13.518170,11.582232,12.670860,13.988871,13.358040,11.625355,12.700412,13.743723,12.994782
4,gene-VNG_RS00025,11.658570,11.967482,11.053223,11.007777,11.612381,11.674338,11.665724,11.088320,11.507828,11.847327,11.414751,10.726692

In [4]:
dfb=pandas.read_csv(footprints_data_file)
print(dfb.shape)
dfb.head()

(2331, 13)

,Unnamed: 0,rbf.rep.1.tp.1,rbf.rep.1.tp.2,rbf.rep.1.tp.3,rbf.rep.1.tp.4,rbf.rep.2.tp.1,rbf.rep.2.tp.2,rbf.rep.2.tp.3,rbf.rep.2.tp.4,rbf.rep.3.tp.1,rbf.rep.3.tp.2,rbf.rep.3.tp.3,rbf.rep.3.tp.4
0,gene-VNG_RS00005,10.811266,10.920911,12.168485,13.794528,11.056294,11.394621,11.171158,13.867397,10.919963,10.521812,12.412850,12.757550
1,gene-VNG_RS00010,7.827787,9.107189,9.983565,9.693348,8.004309,9.118822,10.015582,9.237407,8.033598,8.987881,9.809939,9.094818
2,gene-VNG_RS00015,7.170129,8.436593,9.048484,8.407894,7.258566,8.411314,9.128567,8.269700,7.420174,8.739695,8.980261,8.503122
3,gene-VNG_RS00020,6.656778,7.962958,8.400121,8.716360,6.903285,7.800612,8.851039,8.515463,6.952641,8.089160,8.732132,8.489572
4,gene-VNG_RS00025,8.067147,8.503449,8.134142,7.732634,8.065655,8.540412,8.370340,7.786622,7.937986,8.606267,8.281861,7.598884

# 2. manipulate data

# 3. biological analysis